body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    color: #1f2937;
    font-size: 40px;


}

.seccion {
    background-color: red;


}

#perfil {
    background-color: #eaf2ff;

}